# deps
node_modules/
__pycache__/
*.pyc
.venv/

# next
.next/
out/
build/
next-env.d.ts

# local dev tooling
.claude/

# env
.env
.env.local
.env.*.local

# prisma — migrations нужны для деплоя
# prisma/migrations/

# misc
.DS_Store
*.log
tsconfig.tsbuildinfo

public/Foto/IMG_3634.PNG
